In [26]:
old = input("harflarni kiriting: ")
new = ""
count = 1
unlilar = "aeiou"
for i in range(len(old)):
    if (i + 1) % 3 == 0:
        if old[i] in unlilar:
            new += (old[i] + old[i + 1] + "_")
            i += 2
        else:
            new += (old[i] + "_")
            i += 1
    else:
        new += old[i]
    if i >= len(old):
        break
print(new)

ass_alom_

In [50]:
list1 = [1, 1, 2]
list2 = [2, 3, 4]
new=[item for item in list1 if item not in list2]+[item for item in list2 if item not in list1]
new

[1, 1, 3, 4]

https://www.hackerrank.com/challenges/python-loops/problem

In [61]:
a = int(input("son kiriting [1-20]"))
if a>=1 and a<=20:
    for i in range(a):
        print(i**2);
else: print("togri son kiriting")

0
1
4
9
16

https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/

In [69]:
#EX 1
i=0
while i<10:
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [195]:
#EX 2
a = 6 
for i in range(a):
    for j in range(1,i+1):
        print(j,end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#ex 3
n = int (input (" "))
s=0
for i in range(n+1):
    s=s+i;
s

55

In [ ]:
#ex 4
num = int (input ())
a=10
for i in range(a+1):
    print(f"{i} * {num} = ", num*i)

0 * 4 =  0
1 * 4 =  4
2 * 4 =  8
3 * 4 =  12
4 * 4 =  16
5 * 4 =  20
6 * 4 =  24
7 * 4 =  28
8 * 4 =  32
9 * 4 =  36
10 * 4 =  40

In [267]:
#ex 5
n = [12, 75, 150, 180, 145, 525, 50]
for i in n:
    if i>500:
        break
    elif i>150:
        continue;
    if i %5 == 0:
        print(i)

75
150
145

In [268]:
#ex 6
n=98568
count=0
while n!=0:
    n=n//10
    count+=1
count

5

In [327]:
list1 = [10, 20, 30, 40, 50]
ln=len(list1)-1
for i in range(ln,-1,-1):
    print(list1[i])

50
40
30
20
10

In [336]:
for i in range (-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [337]:
for i in range(5):
    print(i)
print('Done!')

0
1
2
3
4
bajarildi

In [338]:
#ex 11
st=25
en=50
for num in range(st,en,1):
    if num>1:
        for i in range(2,num):
            if(num%i) == 0:
                break
        else: 
            print(num)

29
31
37
41
43
47

In [339]:
#ex 12
num1=0
num2=1
for i in range(10):
    print(num1, end=" ")
    res=num1+num2
    num1=num2
    num2=res

0 1 1 2 3 5 8 13 21 34

In [345]:
#ex 13
n=6
x=1
for i in range(1,n+1):
    x*=i
print(x)

720

In [385]:
a = 76542
a = str(a)
reverse = str('')
print(a[::-1])
for i in range(len(a)-1,-1,-1):
    reverse += a[i]
print(int(reverse))

24567
24567

In [398]:
#ex 15
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1,len(my_list)+1):
    if i %2 == 1:
        print(my_list[i])

20
40
60
80
100

In [405]:
num=int(input(">>>"))
for i in range(1,num+1):
    x=i**3
    print(f"number {i} and the cube is {x}")

number 1 and the cube is 1
number 2 and the cube is 8
number 3 and the cube is 27
number 4 and the cube is 64
number 5 and the cube is 125
number 6 and the cube is 216

In [433]:
num = 5
a=str(2)
c=0
for i in range(num):
    x=a+str(2)*i
    b=int(x)
    c+=b
    print(c)

2
24
246
2468
24690