https://csiplearninghub.com/python-if-else-conditional-statement-practice/

In [25]:
TEST 1
#Q1
#if
#Q2
#if <conditation> :
    #execute

In [ ]:
#Q4
age3=int(input('yosh?'))
if age3>=18:
    print('siz ovoz berasz');
else:
    print('siz ovoz bermaysiz')

siz ovoz bermaysiz

In [33]:
#Q5
num5=int(input('number?'))
if num5%2==0:
    print('bu son juft')
else:
    print('bu son toq')

bu son juft

In [ ]:
#Q6
num6=int(input('number?'))
if num6%7==0:
    print('7 ga bolinadi')
else:
    print('7 ga bolinmaydi')

7 ga bolinadi

In [36]:
#Q7
num7 = int(input('number?'))
if num7%5==0:
    print('hello')
else:
    print('bye-bye')

hello

In [60]:
#Q8
a7=int(input('number?'))
amount=0
if a7<100  :
     amount=a7*0
elif a7>=100 and a7<200 :
    amount=(a7-100)*5
elif a7>=200 :
      amount=500+(a7-200)*10;
print(f'to\'lashingiz kerak: {amount}')

to'lashingiz kerak: 2000

In [61]:
#Q9
num9=int(input('number?'))
num9%10

1

In [64]:
#Q10
num10=int(input('number?'))
qol10=num10%10
if qol10%3==0:
    print('bo\'lindi')
else:
    print('bo\'linmadi')

bo'lindi

TEST2

In [65]:
#Q1
ball1=int(input('number?'))
if ball1>90:
    print('A');
elif ball1<=90 and ball1>80:
    print('B');
elif ball1>=60 and ball1<=80:
    print('C');
else:
    print('bellow 60')

A

In [66]:
#Q2
price2=int(input('number?'))
c=0
if price2>100000:
    c=price2*0.15
elif price2>50000 and price2<=100000:
    c=price2*0.1;
else:
    c=price2*0.05;
print(f'soliq',{c})

soliq {10000.0}

In [70]:
#Q3 tushunarsz 
#Q4
day3=int(input('number?'))
if day3==1:
    print('sunday');
elif day3==2:
    print('monday');
elif day3==3:
    print('thusday');
elif day3==4:
    print('wednesday');
elif day3==5:
    print('thursday');
elif day3==6:
    print('friday');
elif day3==7:
    print('saturday');
else:
    print('1dan 7 gacha faqat')

thursday

In [74]:
#Q5
month5=int(input('number?'))
if month5==1:
    print('yanvar');
elif month5==2:
    print('fevral');
elif month5==3:
    print('mart');
elif month5==4:
    print('aprel');
elif month5==5:
    print('may');
elif month5==6:
    print('iyun');
elif month5==7:
    print('iyul');
elif month5==8:
    print('avgust');
elif month5==9:
    print('sentabr');
elif month5==10:
    print('oktabr');
elif month5==11:
    print('noyabr');
elif month5==12:
    print('dekabr');
else:
    print('1 dan 12 gacha faqat')

aprel

In [ ]:
#Q8 
A>B and C>D

In [75]:
city=input('enter city?')
if city=='dehli':
    print('Read Ford');
elif city=='agra':
    print('Taj Mahal');
elif city=='jaipur':
    print('Jal Mahal');

Read Ford

In [86]:
#Q10
a10=9
if a10>5 and a10<=1010:
    print('hello');
else:
    print('bye')

hello

TEST3

In [89]:
#Q1
num1=(input('entuer number?'))
aa=len(num1)
if aa==3 :
    print('bu uch xonali son');
else :
    print('bu 3 xonali son emas')

bu uch xonali son

In [90]:
#Q2
age2=int(input('your age?'))
if age2>=18 :
    print('siz ovoz bera olasiz')
else:
    print ('sizning yoshingiz 18 dan kichik')

siz ovoz bera olasiz

In [91]:
#Q3
age33=int(input('enter your age:'))
if age33>=60:
    print('siz keksa yoshsiz!')

siz keksa yoshsiz!

In [94]:
#Q4
int1=int(input("first number"))
int2=int(input("second number"))
if int1>int2:
    print("2-son kichik");
else: 
    print('1-son kichik')

1-son katta

In [95]:
#Q5
int1=int(input("first number"))
int2=int(input("second number"))
if int1>int2:
    print("1-son katta");
else: 
    print('2-son katta')

2-son katta

In [96]:
#Q6
num36=int(input('enter num'))
if num36>0:
    print('positive');
elif num36==0:
    print('zero');
else :
    print('negative')

positive

In [97]:
#Q7
num37=int(input('enter num'))
if num37%2==0:
    print ('even');
else:
    print('odd')

even

In [98]:
#Q8
num38=int(input('numnber0'))
if num38%2==0 and num38%3==0:
    print("number is divisible 2 and 3 both")
else:
    print('number is not divisible 2 and 3 both')

number is divisible 2 and 3 both

In [101]:
#Q9
nu1=int(input('enter number'))
nu2=int(input('enter number'))
nu3=int(input('enter number'))
if nu1>nu2 and nu1>nu3:
    print('nu1');
elif nu2>nu1 and nu2>nu3:
    print ('nu2')
else: 
    print('nu3')

nu3

TEST4

In [102]:
#Q1
num41=int(input('water celsius?'))
if num41>=100:
    print("this is water boiling");
else:
    print("this is not water boiling")

this is water boiling

In [105]:
#Q6
age40=int(input('enter age!'))
age41=int(input('enter age!'))
age42=int(input('enter age!'))
age43=int(input('enter age!'))
if age40<age41 and age40<age42 and age40<age43:
    print('age of oldest person is 1');
elif age41<age40 and age41<age42 and age41<age43:
    print('age of oldest person is 2');
elif age42<age40 and age42<age41 and age42<age43:
    print ('age of oldest prsen is 3');
else:
    print('age of oldest person if 4')

age of oldest person is 2

In [106]:
#q8
age40=int(input('enter age!'))
age41=int(input('enter age!'))
age42=int(input('enter age!'))
age43=int(input('enter age!'))
if age40>age41 and age40>age42 and age40>age43:
    print('age of oldest person is 1');
elif age41>age40 and age41>age42 and age41>age43:
    print('age of oldest person is 2');
elif age42>age40 and age42>age41 and age42>age43:
    print ('age of oldest prsen is 3');
else:
    print('age of oldest person if 4')

age of oldest person if 4

In [109]:
#q9
char=input('?')
wow = ('aeiouAEUIO')
if char in wow:
    print ('vowel')
else:
    print ('not vowel')

vowel

TEST 5

In [114]:
#Q1
wday=int(input('total number of work days'))
nday=int(input('total number od=f days for absent'))
if (100-nday/wday*100)>=75 :
    print ('imtihonga marhamat');
else:
    print('imtihonda qatnasha olmaysiz!')

imtihonda qatnasha olmaysiz!

In [117]:
#Q2
num52=int(input('enter ball?'))
if num52>=80:
    print('A+');
elif num52>=60 and num52<80:
    print('A');
elif num52>=50 and num52<60:
    print('B+');
elif num52>=45 and num52<50:
    print('B');
elif num52>=25 and num52<45:
    print('C');
else:
    print('D')

A+

In [123]:
#Q3
wyear=int(input('Work year?'))
salary=int(input('maosh?'))
bonus=0
if wyear>10:
    bonus=salary*10/100 ;
elif wyear>=6 and wyear<=10:
    bonus=salary*8/100 ;
elif wyear<6:
    bonus=salary*5/100 ;
print(bonus)

500.0

In [124]:
#Q4
price4=int(input('price?'))
b4=0
if price4>10000:
   b4= price4*80/100;
elif price4>7000 and price4<=10000:
    b4= price4*85/100;
elif price4<=7000:
   b4= price4*90/100;
print(b4)

8800.0

In [125]:
#Q5
per=int(input())
tot=0
if per<40:
    print('failed');
elif per>=40 and per<55:
    print('fair');
elif per>=55 and per<65:
    print("good")
else:
    print('excellent')

excellent

In [126]:
#Q6
s1=int(input(''))
s2=int(input(''))
s3=int(input(''))
if s1==s2 and s1==s2:
    print('teng tomonli')
elif s1==s2 or s1== s3 or s2==s3:
    print('teng yonli');
else:
    print('har xil masshtabli')

teng yonli

In [129]:
#Q7
num57=int(input())
num56=int(input())
op=input("matematik amal kiriting")
if op=='+':
    print(num57+num56)
elif op=='-':
    print(num57-num56);
elif op=='*':
    print (num57*num56)
elif op=='/':
    print(num57/num56);

3025

In [131]:
#Q8
age8=int(input('age?'))
se=input("m or f")
days=int(input('work days'))
sa=0
if age8>=18 and age8<30:
    if se=='m' or se=='M':
        print(f'ish haqqingiz {days*700}');
    elif se=='f' or se=='F':
        print(f'ish haqqingiz {days*750}');
elif age8>=30 and age8<=40:
    if se=='m' or se=='M':
        print(f'ish haq`qingiz {days*800}');
    elif se=='f' or se=='F':
        print(f'ish haqqingiz {days*850}');
else :
    print('tegishli yoshni kiriting')

ish haqqingiz 700

TEST 6

In [147]:
#Q1
n1=int(input())
n2=int(input())
n3=int(input())
if (n3>n2 and n2>n1) or  (n1>n3 and n2>n3):
     print(n2);
elif (n3>n1 and n1>n2) or (n2>n1 and n1>n3):
    print(n1);
elif (n1>n3 and n3>n2)  or (n2>n3 and n3>n1):
    print(n3);

145

In [148]:
#Q2
b1=int(input())
b2=int(input())
b3=int(input())
if b1+b2>b3 or b2+b3>b1 or b3+b1>b2 :
    print (' uchburchak yasash mumkin ')
else :
    print('mumkin emas')

 uchburchak yashash mumkin

In [153]:
#Q4
tr=int(input())
ttr=0
if tr<=100 :
    ttr=0;
elif tr>100 and tr<300:
    ttr=(tr-100)*2;
elif tr>300:
    ttr=((tr-300))*5+400;
print(f'jami: {ttr}')

jami: 1400